sphinx>=4.0
sphinx-gallery>=0.10.0
sphinx-rtd-theme==1.0.0
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml

git+https://github.com/lassemadsen/surface_plot#egg=surface_plot

-r ../requirements.txt
